

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

nav {
    background-color: rgba(49, 49, 49, 0.7);
    color: white;
    height: 70px;
}

nav {
    padding-top: 5px;
}

header nav ul, #userAccountPage nav ul {
    list-style: none; 
    margin: 0; 
    padding-left: 0; 
    float: right;
    padding-right: 20px;
}

header nav li, #userAccountPage nav li {
    display: inline-block;
    margin: 10px;
    margin-right: 20px;
}

header nav a, #userAccountPage nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

header {
    background-image: url(images/bloggingtips.jpg);
    width: 100%;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 40%;
    padding-top: 0;
}



    header a:hover, #userAccountPage a:hover {
        text-decoration: none;
        color: #b7bdc3;
    }

    header a:active, #userAccountPage a:active {
        text-decoration: none;
        color: #b7bdc3;
    }

.menySeparator {
    font-weight: bolder;
}

#logo {
    padding-right: 30px;
    font-weight: bold;
}

#headerName {
    color: white;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    font-family: OpenSans;
    background-color: rgba(49, 49, 49, 0.5);
    padding: 30px;
    margin-left: 36%;
    margin-top: 10%;
}

    #headerName a {
        text-decoration: none;
        color: white;
    }

#headerContainer {
    border: 1px solid white;
    margin: 5px;
    padding: 10px, 20px;
}

    #headerName2 {
        color: white;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        font-size: 20px;
        font-family: OpenSans;
        background-color: rgba(49, 49, 49, 0.5);
        padding: 43px;
        margin-left: 35%;
        margin-top: 3px;
    }

#loginForm {
    margin-left: 7%;
}

#socialLoginForm {
    margin-left: 25%;
}

    #socialLoginForm a, #loginForm a {
        text-decoration: none;
        color: white;
    }

        #loginForm a:hover {
            text-decoration: none;
            color: #b7bdc3;
        }

#subBut, #rememberMe, #ofToReg {
    float: left;
}

#rememberMe {
    margin-left: 25%;
    font-weight: bolder;
}

    #rememberMe label {
        font-weight: bolder;
    }

#subBut {
    margin-left: 19%;
}

#subBut, #subBut2 {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgba(143, 143, 141, 0.9);
    border: none;
    padding: 5px 8px;
}

    #subBut:hover, #subBut2:hover {
        background: #d1d1d1;
        opacity: 0.9;
    }

#headerName3 {
    color: white;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    font-family: OpenSans;
    background-color: rgba(49, 49, 49, 0.5);
    padding: 45px;
    margin-left: 32%;
}

#headerName3 .checkRole{
    margin-left: 5px;
}

    #headerName3 .checkRole #role2, #headerName3 .checkRole span {
        float: left;
        margin-right: 10px;
    }

    #subBut2 {
        background: rgba(161, 161, 161, 0.9);
    }

footer {
    background-color: rgba(49, 49, 49, 1);
    color: white;
    padding: 20px;
    font-size: 18px;
}

.footerEl2 a:hover {
    opacity: 0.7;
}

.footerEl2 {
    display: inline-block;
    color: #bfc5c6;
    margin-top: -35px;
}

    .footerEl2 img {
        width: 24px;
        height: 24px;
        margin-left: 5px;
    }

    .footerEl2 a {
        display: inline-block;
        padding: 0;
        margin-left: 4px;
        height: 24px;
    }

.checkRole b, .checkRole #role{
    float: left;
}

.parName{
    text-align: center;
}



#userAccountPage, #allBooks {
    background-image: url(images/bloggingtips.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: repeat-y;
    background-position: 70% 40%;
    padding-top: 0;
}


    #userAccountBackground, #allBooks {
        background-color: rgba(49, 49, 49, 0.7);
        color: white;
        padding: 30px;
    }

#userPhotoContainer{
    background-image: url(images/profile.jpg);
    background-position-x:center;
    height: 200px;
    width: 200px;
    border: 1px solid white;
    display: inline-block;
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 2%;
}

#infoContainer {
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
    margin-right: 10%;
    padding: 10px;
    padding-top: 0;
    padding-right: 40px;
    width: 350px;
    font-size: 16px;
}

.userBtn {
    display: inline-block;
    margin-left: 5px;
}

    .userBtn a {
        color: #fff;
        text-decoration: none;
        user-select: none;
    }

#headerName4 {
    color: white;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    font-family: OpenSans;
    background-color: rgba(49, 49, 49, 0.5);
    padding: 45px;
    margin-left: 30%;
    margin-top: 2%;
}

.smallData{
    color: white;
    font-size: 10px;
}

#headerName4 input{
    width: 90%;
    color: black;
}
.textBox img {
    padding-top: 30px;
}

#headerName4 .container{
    width: 500px;
    margin-left: 5px;
}

#magazinePhotoContainer {
    background-image: url(images/cover5.jpg);
    background-position-x: center;
    height: 470px;
    width: 300px;
    border: 1px solid white;
    display: inline-block;
    margin-top: 60px;
    margin-left: 20%;
    margin-right: 2%;
}

#userMagazineInfo {
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    margin-right: 10%;
    padding: 10px;
    padding-top: 0;
    padding-right: 40px;
    width: 650px;
    font-size: 16px;
}

#bookBack {
    background-color: rgba(49, 49, 49, 0.7);
    padding-top: 50px;
}
#allBooks{
    padding: 0;
}


#allBooks {
    background-image: url(images/marble_texture4479.jpg);
    background-color: none;
}

#parNameBooks{
    padding-top: 10px;
    padding-bottom: 10px;
}

#filterContainer {
    background-color: rgba(49, 49, 49, 1);
    width: 100%;
    margin-top: -55px;
    padding-top: 10px;
}

    #filterContainer .row {
        margin-left: 20%;
    }
        #filterContainer .row .filterCheck {
            padding: 0, 5px;
        }


        #headerName5 {
            color: white;
            display: inline-block;
            font-size: 20px;
            font-family: OpenSans;
            background-color: rgba(49, 49, 49, 0.5);
            width: 1200px;
            padding: 30px;
            margin-left: 10%;
        }

#headerName5 a {
    text-decoration: none;
    color: white;
}

#magazinePhotoContainer2 {
    background-image: url(images/cover5.jpg);
    background-position-x: center;
    height: 470px;
    width: 300px;
    border: 1px solid white;
    display: inline-block;
    margin: 2%;
    margin-left: 14%;
    margin-right: 6%;
}

#userMagazineInfo2 {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    padding-top: 0;
    width: 450px;
    font-size: 16px;
}

#headerName6 {
    color: white;
    display: inline-block;
    font-size: 20px;
    font-family: OpenSans;
    background-color: rgba(49, 49, 49, 0.5);
    padding: 10px 45px;
    margin-left: 30%;
}

    #headerName6 h2 {
        vertical-align: middle;
        text-align: center;
    }

#magazineEditor input {
    color: black;
    width: 100%;
    margin-left: 6%;
}

#headerName6 #magazineEditor #Description {
    width: 100%;
    margin-left: 7%;
    color: black;
    height: 120px;
}

    #headerName6 .container {
        width: 600px;
        margin-left: 5px;
    }
    
    .tags{
        width: 13px;
        display: inline-block;
    }
#magDescription {
    margin-left: 20%;
    width: 100%;
    color: black;
    height: 120px;
    margin-right: 0;
}

#magDescriptionLabael{
    margin-right: 7.5%;
}

.filterBlocks{
    display: inline-block;
    margin: 0 2%;
}
.filterBlocks input, .filterBlocks select{
    color: black;
}